{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}
<br/>
<div class="container">
<h1 class="heading">Shopping cart</h1>
<hr class="basketHr">
    {% if items: %}
    {% for item in items: %}
    {% for key in item.keys(): %}


    <div class="row">
        <div class="col-md-8"><h3 class="basketItem">{{ key }}</h3></div>
        {% for product in list: %}
        {% if product.name == key: %}
        <div class="col-md-4"><h3 class="basketPrice">{{ item[key] }} x ${{ product.price }} </h3></div>
        {% endif %}
        {% endfor %}
    <hr class="basketHr2">
        </div>
    {% endfor %}
    {% endfor %}
    <h3>Total: ${{ total }}</h3>
    <a href="{{url_for('checkout') }}" class="btn btn-primary btn-lg" type="button" >Checkout</a>
    <a href="{{url_for('empty_cart') }}" class="btn btn-danger btn-lg" type="button" >Empty your cart</a>
        </div>
    {% else: %}
    <div class="row">
        <div class="col-md-8"><h3 class="basketEmpty">Your cart is empty.</h3></div>
    </div>
    {% endif %}


{% include "footer.html" %}